@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --primary: #0a081c;
    --secondary: #2d225c;
    --sucess-color: #799159;
    --error-color: #823540;
}

main {
  background-color: #19172a;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 8rem;
  gap: 5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 14vh;
    color: #fff;
}

header .title {
    font-size: 16px;
    color: gray;
}

header a img {
    width: 30px;
    color: white;
}

main form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main form img {
    width: 50px;
    height: 50px ;
}

main form .user-icon {
    background-color: rgb(97, 95, 95);
    padding: 1rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80px; */
}

main form .label-form {
    background-color: #fff;
}

.upload-box {
  position: relative;
  border: 2px dashed #334155;
  border-radius: 10px;
  text-align: center;
  padding: 30px 70px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #0f172a;
}

.upload-box:hover {
  border-color: #3b82f6;
  background-color: #1e293b;
}

.upload-box p {
  color: #94a3b8;
  font-size: 0.9rem;
}

.upload-box input[type="file"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.btn {
  background-color: var(--secondary);
  color: gray;
  border: none;
  border-radius: 8px;
  padding: 16px 50px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  margin-top: 0.5rem;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #352674;
}

.footer {
  text-align: center;
  color: #64748b;
  font-size: 0.8rem;
  margin-top: 1.2rem;
}